body {
    background-color: #E3E3E3;
    color: #38234D;
    font-family: 'Nunito', sans-serif;
}
.isRequired {
    color: #6B6B6B;
    font-size: 13px;
}
.nameField {
    padding: 2px 11px 1px 11px;
    margin-left: 14px;
    width: 60%;
    background-color: #FDFCFD;
    
    font-size: 18px;
    color: #38234D;
    outline: none;
    border: 1px solid #BBAFC6;
    border-radius: 4px;
}

.nameField:focus {
    border: hidden;
    border: 4px solid #BBAFC6;
    border-radius: 3px;
}
.linkField {
    padding: 2px 11px 1px 11px;
    margin-left: 14px;
    width: 60%;
    background-color: #FDFCFD;
    
    font-size: 18px;
    color: #38234D;
    outline: none;
    border: 1px solid #BBAFC6;
    border-radius: 4px;
}
.linkField:focus {
    border:hidden;
    border: 4px solid #BBAFC6;
    border-radius: 3px;
}
.input-box-price {
    display: flex;
    width: 240px;
    height: 46px;
    background-color: #FDFCFD;
    font-size: 18px;
    color: #38234D;
    outline: none;
    border: 1px solid #BBAFC6;
    border-radius: 4px;
}
.input-box-price:focus {
    border:hidden;
    border: 4px solid #BBAFC6;
    border-radius: 3px;
}
.input-box-price .prefix {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 15px;
}

.input-box-price input {
    background-color: #FDFCFD;
    border: none;
    position: relative;
    width: 200px;
    padding: 15px;
    outline:none
}

.description {
    padding: 2px 11px 1px 11px;
    margin-left: 14px;
    width: 80%;
    background-color: #FDFCFD;
    
    font-size: 18px;
    color: #38234D;
    min-height: 200px;
    outline: none;
    border: 1px solid #BBAFC6;
    border-radius: 4px;
}
.description:focus {
    border:hidden;
    border: 4px solid #BBAFC6;
    border-radius: 3px;
}
.selectList {
    margin-left: 13px;
    padding: 4px 5px 3px 5px;
    width: 99%;
    background-color: #FDFCFD;
    font-size: 17px;
    color: #38234D;
    outline: none;
    border: 1px solid #BBAFC6;
    border-radius: 4px;
}
.selectList:focus {
    border: hidden;
    border: 4px solid #BBAFC6;
    border-radius: 3px;
}

.dateField {
    padding: 4px 11px 3px 11px;
    width: 99%;
    background-color: #FDFCFD;
    font-size: 17px;
    color: #38234D;
    outline: none;
    border: 1px solid #BBAFC6;
    border-radius: 4px;
}
.dateField:focus {
    border: hidden;
    border: 4px solid #BBAFC6;
    border-radius: 3px;
}
.checkbox {
    outline: none;
    border: 1px solid #BBAFC6;
    border-radius: 4px;
}
.checkbox:focus {
    border: hidden;
    border: 4px solid #BBAFC6;
    border-radius: 3px;
}
.createButton {
    padding: 7px 11px 3px 11px; 
    font-size: 15px;
    font-weight: bold;
    min-height: 56px;
    min-width: 200px;
    color: #FDFCFD;
    background-color: #38234D;
    outline: none;
    border: none;
    border-radius: 8px;
}
.createButton:hover {
    background-color: #6F3F9F;
    color: #CFCFCF;
}
.validation {
    font-size: 13px;
    color: #9F3F49;
}
#main {
    margin-block: 50px;
    border-radius: 10px;
}
#partName {
    margin-top: 18px;
    margin-left: 30px;
    font-size: 24px;
    color: #38234D;
    font-weight: bold;
}
#fieldName {
    
    margin-top: 6px;
    margin-bottom: 1px;
    margin-left: 18px;
    font-size: 17px;
    color: #4F4F4F;
    font-weight: bold;
}
#biggerFieldName {
    margin-top: 6px;
    margin-left: 16px;
    font-size: 20px;
    color: #38234D;
    font-weight: bold;
}
#commend {
    margin-left: 16px;
    margin-bottom: 6px;
    font-size: 14px;
    color: #6B6B6B;
}
#validationfield {
    font-size: 14px;
    margin-left: 8px;
    margin-right: 5px;
}
#basicInfoPart {
    overflow: auto;
    background-color: white;
    border-radius: 10px;
}
#bagrainName{
    margin-left: 22px;
    margin-right: 22px;
}
#bagrainUrl {
    margin-left: 22px;
    margin-right: 22px;
}
#bargainDescription {
    margin-left: 22px;
    margin-right: 22px;
}
#bargainGraphic {
    margin-top: 25px;
    margin-bottom: 40px;
    margin-left: 22px;
    margin-right: 22px;
}
#fileField {
    margin-bottom: 5px;
    margin-left: 20px;
    font-size: 13px;
    color: #38234D;
    
}
#pricePart {
    margin-top: 16px;
    overflow: auto;
    background-color: white;
    border-radius: 10px;
}
#bargainPrice {
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 50px;
}
#detailPart {
    margin-top: 16px;
    overflow: auto;
    background-color: white;
    border-radius: 10px;
    min-height: 350px;
}
#detailRow1 {
    margin-left: 12px;
    margin-right: 22px;
}

#detailRow2 {
    margin-top: 7px;
    margin-left: 12px;
    margin-right: 22px;
}
#bargainDate {
    color: #38234D;
    
    margin-left: 13px;
}
#detailRow3 {
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 32px;
}
#bargainIsLocal {
    margin-right: 20px;
    color: #38234D;
    font-size:18px;
    
    margin-left: 30px;
}
#bargainProvince {
    margin-bottom: 40px;
    margin-left: 13px;
    color: #38234D;
    display: none;
    max-width: 400px;
}
#createPart {
    margin-top: 16px;
    overflow: auto;
    background-color: white;
    border-radius: 10px;
    min-height: 80px;
}
#bargainCreate {
    display: flex;
    justify-content: right;
    margin-top: 11px;
}
.file-input {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;

}
#custom-file-input {
    font-size: 15px;
}
#custom-file-input::file-selector-button {
    width: 150px;
    height: 40px;
    font-weight: bold;
    background-color: #38234D;
    color: white;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
}
#custom-file-input::file-selector-button:hover {
    background-color: #6F3F9F;
    color: #CFCFCF;
}

.custom-file-input::before {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

.custom-file-input:hover::before {
    border-color: black;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 15px;
    opacity: 1; /* Firefox */
}
/*Disable arrows in text boxes */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

@media(min-width:573px) and (max-width: 768px) {
    .nameField {
        width: 85%;
    }
    .linkField {
        width: 85%;
    }
    .description {
        width: 85%;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-size: 13px;
        opacity: 1; /* Firefox */
    }
}
@media(max-width: 572px) {
    .nameField {
        width: 85%;
    }

    .linkField {
        width: 85%;
    }

    .description {
        width: 85%;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-size: 12px;
        opacity: 1; /* Firefox */
    }
}